@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.logo {
    width: 10.875rem;
}

.bg-main {
    background-color: #75c043 !important;
}

.navbar {
    margin-left: 100px;
    margin-right: 100px;
}

.bg {
    background-color: #3c3c3c;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0 !important;
    border-left: none !important;
    width: 70px !important;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    border-color: rgba(37, 99, 235, 0) !important;
    box-shadow: 0 0 0 rgba(255, 0, 0, 0) !important;
    border-width: 0 !important;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
    border-width: 0 !important;
}

.search {
    border-radius: 50px 0 0 50px;
    border-right: none;
    width: 100%;
}

/*--------------------------landingpage--------------------------------------*/
.side_bar {
    box-shadow: rgba(17, 17, 26, 0.3) 0 4px 16px, rgba(17, 17, 26, 0.3) 0 8px 32px;
    border-radius: 5px;
    padding: 5px;
    height: inherit;
}

.hero_view {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 5px;
    padding: 5px;
}

.big_title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.rightAl_list {
    margin-top: 0.5rem;
}

.rightAl_list li {
    font-size: 1.2rem;
    padding-left: 2rem;
    line-height: 2.5;
    position: relative;
    font-weight: bold;
}
.rightAl_list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 84%;
    height: 2.5px;
    background-color: #75c043;
    right: 0;
}
.rightAl_list li:hover{
    background-color: #ece3e3;
}
.medium_title {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.big_slider {
    margin-bottom: 2rem;
}

.small_slider {
    margin-bottom: 2rem;
}

.small_slider div > .book_details {
    width: 100%;
    height: 100%;
    max-height: 65px;
    padding: 0 7px;
    background-color: #3c3c3c;
    color: white;
    align-items: center;
}

.details > h4 {
    padding-top: 0.2rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.details > p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.small_btn {
    padding: 7px 22px;
    background-color: #75c043;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 35px;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
}
ul,
p {
    list-style: none;
    padding: 0;
}

.ad_sidebar {
    background-color: #3c3c3c;
    padding: 5px 10px;
    color: #c2c7d0;
    min-height: 100svh;
    margin-top: 1px;
}
.ad_menu li a {
    font-size: 1.1rem;
    padding: 0.7rem 0 0.7rem 23px;
    margin: 5px 0;
    text-align: left;
    border-radius: 4px;
    font-weight: 900;
}
.ad_menu li {
    border-bottom: 2px solid;
}
.ad_menu li a:hover {
    background-color: rgb(255, 255, 255, 0.1);
}
.active {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 4px;
}

.ad_menu li a i {
    margin-right: 6px;
}
/* ----------------------------------- detail content ------------------------------ */

.ad_displayDetails {
    padding: 0 10px;
}

.detail_top {
    background-color: #858585;
    color: #fff;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 7px;
}
.detail_top h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.cta_container {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    padding: 5px 10px;
}

.cta_container a {
    background-color: #dc3545;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    margin: 0 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding transition for smooth animation */
}

.cta_container a:hover {
    background-color: #b62230;
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.cta_container a:last-child {
    background-color: #007bff;
}

.cta_container a:last-child:hover {
    background-color: #0757ad;
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.event_container table {
    width: 100%;
}
.event_container table tbody,
.event_container table thead th {
    padding: 8px;
}
.event_container table tbody tr td:first-child,
.event_container table thead th:first-child {
    border-left: 2px solid #dee2e6;
    border-radius: 5px 5px 0 0;
}
.event_container table tbody tr td {
    border-right: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}
.event_container table thead th {
    border-top: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}
.big_title {
    position: relative;
}

.big_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; /* Adjust to 50% of the total width */
    width: 40%; /* 50% of the total width */
    height: 3px; /* Height of the underline */
    background-color: #75c043; /* Color of the underline */
}
.action_button {
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    color: white;
}

.action_button a {
    background-color: #007bff;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    margin: 0 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding transition for smooth animation */
}
.action_button a:hover {
    background-color: #0757ad;
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.action_button_delete {
    background-color: #dc3545;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    margin: 0 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding transition for smooth animation */
}

.action_button_delete:hover {
    background-color: #b62230;
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.action_button_main {
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
}

.action_button_main a {
    background-color: #007bff;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    margin: 0 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding transition for smooth animation */
}

.action_button_main a:hover {
    background-color: #0757ad;
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.action_button_main a:last-child {
    background-color: #dc3545;
}

.action_button_main a:last-child:hover {
    background-color: #b62230;
    transform: translateY(-3px); /* Move the button 3px up on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}
.primary_button:hover {
    background-color: #53852e !important;
}

/* author form  */

.login-page {
    padding: 6% 0 0;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}
.author_from {
    position: relative;
    z-index: 1;
    background: #3c3c3c;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 60px 0 rgb(106 28 255 / 20%),
    0 4px 20px 0 rgb(14 149 255 / 24%);
    border-radius: 5px;
}
.author_from label {
    color: black;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.author_from button {
    text-transform: uppercase;
    background: #4caf50;
    width: fit-content;
    border: 0;
    font-weight: 600;
    padding: 13px 45px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 35px;
    margin-top: 15px;
}
.author_from button:hover,
.author_from button:active,
.author_from button:focus {
    background: #43a047;
}

/* author form  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.book-card {
    width: 250px; /* Adjust the width according to your design */
    height: auto;
    margin-bottom: 20px; /* Adjust as needed */
    border: 1px solid #ccc; /* Add border for better visual separation */
}

.book-card img {
    width: 100%;
     height: 243px;
}

.book-details {
    padding: 10px;
}

.book-title {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.hide-overflow {
    display: block;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#messengerButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.feedback{
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 9999 !important;
}
.modal-dialog{
    width: 20rem !important;
    position: fixed !important;
    right: 0 !important;
    bottom: 1rem !important;
}
.modalqr{
    width: 20rem !important;
    position: fixed !important;
    right: 0 !important;
    bottom: 1rem !important;
    left: 0 !important;
    top: 0 !important;
}
.user_profileCircleUp {
    /* border-radius: 1000px !important; */
    width: 140px;
    height: 140px;
    /* border: 8px solid #efefef; */
    padding: 0;
    margin: 0;
    position: relative;
}

.user_profileCircleUp .avatar {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    padding: 0;
    margin: 0;
    /* border-radius: 1000px !important; */
    border-radius: 10px !important;
    border: 8px solid #c9c9c9;


}

.user_profileCircleUp .upload-button {
    position: absolute;
    bottom: 10px;
    right: -10px;
    color: #ffffff;
    background: #0178bc;
    padding: 9px;
    border-radius: 50%;
    line-height: 12px;
    font-size: 14px;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    cursor: pointer;
}

.user_profileCircleUp .upload-button::before {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    border: 4px solid rgba(1, 120, 188, 0.54);
    border-radius: 50%;
}

.user_profileCircleUp .input-file-upload {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size: 0;
    width: 100%;
}
.book_title{
    font-size: xxx-large;
    font-weight: bold;
}
.genre{
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: var(--bs-border-radius);
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-weight: var(--bs-badge-font-weight);
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}
